a:link { /* 처음 로딩했을 때 a태그 스타일 설정 */
  color: rgb(9, 9, 94);
  text-decoration: none;
  text-shadow: 3px 3px 5px rgb(151, 139, 139);
}
a:visited { /* 한번 방문했던 사이트에 대해 설정 */
  color: rgb(30, 175, 30);
  text-decoration: underline;
}
a:hover { /* 마우스를 롤오버했을 때 */
  color : red;
  font-weight: bold;
  text-decoration: underline;
}
a:active { /* 마우스를 링크거린 곳에 클릭했을 때 */
  color: aqua;
}