*{
    margin: 0;
    padding: 0;
    
}
a:link{text-decoration: none;color: black;}
a:visited{text-decoration: none;color: black;}
a:active{text-decoration: none;color: black;}
a:hover{text-decoration: none;color: black;}


@font-face {
    src : url("./TESLA.ttf"); 
    font-family: "te";
}

@font-face {
    src : url("https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Book_Web.woff2"); 
    font-family: "tess";
}
#menu{
    position: fixed;
    width: 100%;
    height: 50px;
   

}
#logo{
    width: 15%;
    height: 50px;
   font-family: 'te';
   font-size: 20px;
   float: left;
   padding: 20px 0 0 20px;
 
}

.clear{
    clear: both;
}

.session{
    width: 65%;
    height: 90vh;
    padding-top: 4%;
 position: fixed;
}
.side_session{
    margin-top: 4%;
width: 20%;
height: 90vh;
border: 1px red solid;
float: right;
display: inline-block;
}
.model{
   width: 100%;
   text-align: center;
   font-size: 35px;
   font-family: "tess";
   margin-top: 30px;
   font-weight: bold;
}

.low{
    width: 40%;
    display: inline-block;
    list-style: none;
    margin-left: 5%;
    text-align: center;
}
.butt{
    width: 100%;
    height: 35%;
    margin-top: 20%;
}
.button1{
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 30px;
    background-color: white;
  
}
.clicked {
    color: blue;
  }
  .button_size{
      width: 40px;
      height: 40px;
  }
  .radius{
      border-radius: 100px;
      display: inline-block;
      
  }