*{
    margin: 0;
    padding: 0;
}

@font-face {
    src : url("./TESLA.ttf"); 
    font-family: "te";
}
#menu{
    position: fixed;
    width: 100%;
    height: 50px;
   

}
#logo{
    width: 15%;
    height: 50px;
   font-family: 'te';
   font-size: 20px;
   float: left;
   padding: 20px 0 0 20px;
 
}
#menu_name{
    margin-left: 80px;
    width: 50%;
    height: 60px;
    float:left;
    font-style:initial;
    font-weight: 10px;
   
}
#menu_name>ul{
list-style: none;

}
#menu_name li{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 30px;
    
}
#menu_shop{
    width:15%;
    height: 50px;
    float: right;
  
    
}
#menu_shop>ul{
    list-style: none;
   
    }
.menu_shop_li{
        display: inline-block;
        font-weight: bold;
        padding-top: 20px;
        margin-left: 20px;
        font-size: 20px;
       
    }
.clear{
    clear: both;
}
#model_y1{
    width: 100%;
    height: 100vh;
   background-image:url(../img/modely-1.png) ;
   background-size: 100% 100vh;
   
   
}

#model_y2{
    width: 100%;
    height: 100vh;
   
}
#video_model{
    width: 100%;
    height: 100vh;
}
#img2{
    width: 70%;
    height: 100vh;
   
    float: left;
}
#side_text{
    width: 30%;
    height: 100%;
    padding-top: 30px;
    float: right;
    background-color: rgb(53, 50, 50);
    
}
#model_y3{
    width: 100%;
    height: 100vh;
   background-image:url(../img/modely3.png) ;
   background-size: 100% 100vh;
    
}
.clear{
    clear: both;
}
#a{
    font-size: 25px;
    padding-left: 10px;
    color: rgb(85, 84, 84);
    margin-top: 20px;
}
#b{
    font-size: 35px;
    padding-left: 10px;
    color: rgb(111, 17, 26);
    margin-top: 20px;
}
#c{
    font-size: 20px;
    padding-left: 10px;
    margin-top: 20px;
    padding-top: 20px;
}

#model_y4{
    width: 100%;
    height: 100vh;
   background-image:url(../img/modely4.png) ;
   background-size: 100% 100vh;
}
#model_y5{
    width: 100%;
    height: 100vh;
   background-image:url(../img/modely5.png) ;
   background-size: 100% 100vh;
}
.session{}

.title{
   font-size: 50px;
   padding-top: 10%;
   padding-left: 43%;
   font-weight: bold;
}
.iconBtn { width: 35px; cursor: pointer;    display: inline-block;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 20px;
    font-size: 20px;}
 .menuWrap.on { right: 0; } 
 .menuWrap { position: fixed; top: 0; right: -300px; z-index: 400; width: 300px; height: 100%; 
padding: 50px 20px; box-sizing: border-box; transition: right 0.3s ease-in-out; background-color: #ffffff; } 
 #menuBtn { width: 35px; z-index: 401; transition: all 0.3s ease-in-out; cursor: pointer; } 
 #dimmed { position: fixed; top: 0; left: 0; z-index: 300; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); } 
 .btnRotate { transform: rotate(-90deg); transition: all 0.3s ease-in-out; }
.menuList{
    list-style: none;
}
 .listStyle{
   font-size: 20px;
   margin-top: 30px;
}
.button1{
    padding: 30% 20% 15% 32%;
}
.btn1{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    background-color: rgb(85, 84, 84);
    color: white;

}
.btn2{
    margin-left: 100px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
}
#close-menu {
    border: 1px solid;
    border-radius: 20px;
    color: #333;
    cursor: pointer;
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 15px 20px 15px auto;
    padding: 4px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px;
  }
  .side_text{
    width: 41.3%;
    height: 96%;
    padding-top: 30px;
    float: right;
    background-color: rgb(235, 234, 234);

  }
  #video1 { max-width: 80%; height: 100%; display: block; float: left; }
  #video2{width: 100%; height: 100%; display: block; float: left;}